<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [35]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [36]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [37]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [38]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [40]:
df = pd.read_csv(file_name)
#df.head()

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [42]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [121]:
# your code goes here
#df[df.duplicated()]
#df[df.duplicated(keep=False)]
#numberDuplicate = len(df[df.duplicated(keep=False)]) #247
numberDuplicate = len(df[df.duplicated()]) #154
numberDuplicate
#len(df['Respondent'][df['Respondent'].duplicated()])#154

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [85]:
# your code goes here
#print(len(df)) #11552
df_no_duplicates = df.drop_duplicates() #11398
#print(len(df_no_duplicates))

Verify if duplicates were actually dropped.

In [86]:
# your code goes here
len(df_no_duplicates)
# 
# One clearly sees that 
# numberDuplicates = len(df)-len(df_no_duplicates) = 11552 - 11398 = 154
#

11398

## Finding Missing values

Find the missing values for all columns.

In [122]:
# your code goes here
missing_values=df_no_duplicates.isnull().sum()
#missing_values
missing_values.head(20)

Respondent          0
MainBranch          0
Hobbyist            0
OpenSourcer         0
OpenSource         81
Employment          0
Country             0
Student            51
EdLevel           112
UndergradMajor    737
EduOther          164
OrgSize            96
DevType            65
YearsCode           9
Age1stCode         13
YearsCodePro       16
CareerSat           0
JobSat              1
MgrIdiot          493
MgrMoney          497
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [88]:
# your code goes here
missing_values_WorkLoc=df_no_duplicates['WorkLoc'].isnull().sum()
missing_values_WorkLoc

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [89]:
# your code goes here
#df_no_duplicates
#df_no_duplicates['WorkLoc']
#df_value_counts_WorklLoc_mfreq = df_no_duplicates['WorkLoc'].value_counts().idxmax()
#df_value_counts_WorklLoc_mfreq

df_value_counts_WorklLoc = df_no_duplicates['WorkLoc'].value_counts()
df_value_counts_WorklLoc

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [90]:
#make a note of the majority value here, for future reference
#
df_most_frequent_WorkLoc = df_no_duplicates['WorkLoc'].value_counts().idxmax()
df_most_frequent_WorkLoc

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [93]:
# your code goes here
#df_no_duplicates['WorkLoc'].isnull().sum()
#df_no_duplicates['WorkLoc'].isnull()

df_no_duplicate_WorkLoc_NanRWithMostFrequent=df_no_duplicates['WorkLoc'].fillna(df_most_frequent_WorkLoc)
df_no_duplicate_WorkLoc_NanRWithMostFrequent
#df_no_duplicates['WorkLoc']

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [94]:
# your code goes here
df_no_duplicate_WorkLoc_NanRWithMostFrequent.isnull().sum() 
# perfect, the result of this test is zero; that is empty rows are replaced

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [132]:
# your code goes here
VariousCategories_CompFreq=df_no_duplicates['CompFreq'].unique()
VariousCategories_CompFreq

#df_no_duplicates.head()
#df_no_duplicates['CompFreq'].value_counts()
#CompFreq
#Yearly     6073
#Monthly    4788
#Weekly      331

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [129]:
# your code goes here
import numpy as np
conditions=[(df_no_duplicates['CompFreq']=='Yearly'), (df_no_duplicates['CompFreq']=='Monthly'),(df_no_duplicates['CompFreq']=='Weekly')]
choices=[df_no_duplicates['CompTotal']*1, df_no_duplicates['CompTotal']*12, df_no_duplicates['CompTotal']*52]
df_no_duplicates['NormalizedAnnualCompensation']=np.select(conditions, choices)
df_no_duplicates['NormalizedAnnualCompensation']
#df_no_duplicates[['EdLevel','Student','NormalizedAnnualCompensation']].head(60)
#df_no_duplicates.head()
#df_no_duplicates['NormalizedAnnualCompensation'].median() #98000.0

<ipython-input-129-c86a7e8539b1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates['NormalizedAnnualCompensation']=np.select(conditions, choices)

98000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> Â© IBM Corporation. All rights reserved. <h3/>